header {
    display: flex;
    justify-content: center;
    background-color: rgb(140, 175, 248);
}

.city-container {
    display: grid;
    justify-content: flex-start;
    padding: 15px;
}

.search-container{
    display: grid;
    justify-content: flex-start;
    margin:20px;
}

.citybtn {
    margin: 15px;
    width: 150px;
    padding: 5px;
}

.weather-container {
    border: 2px solid rgb(140, 175, 248);
    position: relative;
    margin-top: -570px; 
    margin-right: 50px;
    left: 375px; 
    width: 825px; 
    height: 480px; 
    padding: 25px;
}